*.mat
*.html
*.xml
*.png
*.pdf
*.DS_Store
*.swp
*.pyc
.spyderproject
.ipynb_checkpoints
*Thumbs.db
*.orig
.coverage
/docs/_build
/.idea
/dist/
/*.egg-info
/tests/htmlcov/
.cache/
# Unittests files
tests/test_data/classification_multiclass.csv
tests/test_data/classification_twoclass.csv
tests/test_data/regression.csv
tests/test_data/regression_multiblock.csv